@mixin transform($property){
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
$output-size:300%;
$font-size:150%;
$font: 'Roboto';

.enter{
    font-size:$font-size;
}
.selecting{
    width:75%;
    
}
select{
    text-align:center;
}


body{
    font-family: $font;
}
label{
    font-size: $font-size;
}
#output{
    font-size: $output-size;
}
.box{
    background:lightblue;
    width:120%;
    padding:15% 0;
    text-align:center;
    border-radius:5%;
    transition:ease .4s all
}

.box:hover{
    @include transform(scale(1.03));
}


